@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    height: 100vh;
}

section .rgb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 600px;
}

#rgbKineticSlider canvas {
    position: absolute;
}

nav .main-nav {
    position: absolute;
    color: #fff;
    top: 50%;
}

section {
    position: relative;
}

section nav .prev {
    position: absolute;
    left: 30%;
    
}

section nav .next {
    position: absolute;
    right: 30%;
}